.infoContainer {
    background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.1)), url("https://applescoop.org/image/wallpapers/iphone/desktop-wallpaper-smoky-bmw-blue-car-front-view-01-11-2024-1730444681-hd-wallpaper.jpg");
    background-size: cover; 
    background-position: center;
    height: 100vh; 
    display: grid;
    grid-template-rows: auto auto auto;
    gap: 1px;
    align-items: center; 
    text-align: center;
    color: white; 
    width: 100vw;
}

.infoBox {
    backdrop-filter: blur(5px);
    max-width: 100%;
    margin-top: 50%;
}

.infoBox h1, h4 {
    font-weight: bolder;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.links img {
    border: 2px solid white;
    border-radius: 20%;
    padding: 7%;
    background-color: #055684;
}

.instaLogo img, .mapsLogo img {
    width: auto;
    height: 60px;
}

/* ---- MEDIA QUERY FOR SCREENS 800px AND LARGER ---- */
@media (min-width: 650px) {
    .infoContainer {
        height: 100vh; 
        /* grid-template-rows: auto auto auto; */
        display:flex;
        justify-content:center;
        align-items:center;
    background-size:contain; 

    }

    .infoBox {
        margin-top:0;
        max-width: 600px;
        margin: auto;
        padding: 20px;
    }

    .infoBox h1 {
        font-size: 2.5rem;
    }

    .infoBox h4 {
        font-size: 1.5rem;
    }

    .links {
        gap: 3%;
    }

    .links img {
        border-radius: 10%;
        padding: 3%;
    }

    .instaLogo img, .mapsLogo img {
        height: 70px;
    }
}
