.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding:5%;
	background-color: #e4ebed;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index:100;
}

.header a {
	text-decoration: none;
	color: #044368;
}

.header h1 {
	font-size: 1.7rem;
	font-weight: bolder;
}

/* Nav Bar Styling */
.nav {
	position: relative; /* Ensures dropdown is positioned relative to nav */
	display: flex;
	align-items: center;
}

.navBig {
	display: none;
}

/* Menu Hidden by Default */
.menu {
	display: none;
	flex-direction: column;
	position: absolute;
	top: 100%;
	right: 0;
	background-color: #081b29;
	width: 200px; 
	padding: 10px;
	border-radius: 5px;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

/* Show Menu When Active */
.menu.active {
	display: flex;
}

/* Menu Links */
.menu a{
	font-size: 1.1rem;
	font-weight: bold;
	color: white;
	padding: 10px;
	text-decoration: none;
	display: block;
}

/* Hover Effect */
.menu a:hover {
	background-color: #055684;
}

/* Menu Button */
.menutoggle {
	display: block;
	color: #ededed;
	background-color: #055684;
	border-radius: 5px;
	padding: 10px 15px; 
	font-weight: bold;
	border: none;
	cursor: pointer;
}

@media (min-width:800px) {
	.header {
		padding:2%;
	}
	.header h1{
		font-size: 2rem;
	}
	.nav{
		display:none;
	}
	.navBig{
		display:flex;
		flex-direction: row;
		gap:30px;
		font-size: 1.5rem;
	}
}
