
.brakesPage{
    
    margin-top:80px;
    padding:5%;
    height:100vh;
    background-color: #d9d9d9;

    
}
.brakesPage h1, .brakesPage h6{
    text-align:center;
}
.backButton{
    font-size:1.5rem;
    border-radius: 10px;
    padding:2%;
}
.backLink{
    color:#000;
    text-decoration:none;
}
.brakesContainer{
    display:flex;
    flex-direction:column;
    margin-top:5px;
    width:100%;
    max-width:1000px;
    height:auto;
    

    
}

.standardBrakes, .premiumBrakes{
    display:flex;
    flex-direction:column;
    margin-top:20px;
    border:2px solid black;
    border-radius:10px;
    padding:5%;
    width:100%;
    max-width:1000px;
    height:auto;
    background-color: #ededed;
    box-shadow: #000 0px 0px 25px;

    
}
.standardBrakes img, .premiumBrakes img{
    border:3px solid black;
    margin-bottom:5%;
    border-radius: 10px;
}


.brakesContainer li{
    margin-top:2%;
}

.bookButton{
    padding: 5%;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5%;
}