
.brakesPage{
    height:180vh;
    margin-top:80px;
    margin-bottom:10px;
    padding:5%;
    background-color: #365966;
    
}
.brakesPage h1{
    text-align:center;
    color:#e4ebed;
}
.brakesPage h6{
    text-align:center;
    color:#e4ebed;
}
.backButton{
    font-size:1.5rem;
    border-radius: 10px;
    border:3px solid #1f3f68;
    padding:2%;
    background-color:#e4ebed;
}
.backLink{
    color:#1f3f68;
    text-decoration:none;
}
.brakesContainer{
    display:flex;
    flex-direction:column;
    margin-top:5px;
    align-items:center;
}

.standardBrakes, .premiumBrakes{
    display:flex;
    flex-direction:column;
    margin-top:20px;
    border:2px solid black;
    border-radius:10px;
    padding:5%;
    width:100%;
    max-width:1000px;
    height:auto;
    background-color: #e4ebed;
    box-shadow: #000 0px 0px 25px;

    
}
.standardBrakes img, .premiumBrakes img{
    border:3px solid black;
    margin-bottom:5%;
    border-radius: 10px;
}


.brakesContainer li{
    margin-top:2%;
}

/* not using currently */
.bookButton{
    padding: 5%;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5%;
}

@media (min-width:800px){
    .brakesPage{
        height:140vh;
    }
    .brakesContainer {
        display: grid;
        grid-template-columns: repeat(2, auto);
        place-items: center; /* shorthand for align-items + justify-items */
        gap: 15px;
        margin-top:0px;
        align-items: flex-start;
    }
    
    .standardBrakes, .premiumBrakes{
        
        width:30vw;
        max-width:500px;
        height:auto;
        box-shadow: #000 0px 0px 50px;
       
    }
    .backButton{
        font-size:1.5rem;
        border-radius: 10px;
        padding:1%;
    }
    .brakesPage{
        margin-top:40px;
    }
}

