.detailingPage{
    margin-top:80px;
    padding:5%;
    background-color: #d9d9d9;


}
.backButton{
    font-size:1.5rem;
    border-radius: 10px;
    padding:2%;
}
.backLink{
    color:#000;
    text-decoration:none;
}
.detailingContainer{
    display:flex;
    flex-direction:column;
    align-items:center;
}

.bronzeDetailing, .silverDetailing, .goldDetailing{
    display:flex;
    flex-direction:column;
    /* align-items:center; */
    margin-top:20px;
    border:2px solid black;
    border-radius:10px;
    padding:3%;
    width:100%;
    max-width:1000px;
    background-color: #ededed;
    box-shadow: #000 0px 0px 50px;


    height:auto;


}
.bronzeDetailing img , .goldDetailing img {
    border:3px solid black;
    margin-bottom:5%;
    border-radius: 10px;
}


.interiorDetailing li, .exteriorDetailing li{
    margin-top:5%;
}


/* styling for booknow Button */
.bookButton{
    padding: 5%;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5%;
}
.bookButtontest{
    
    padding: 5%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5%;
}