.detailingPage{
    margin-top:80px;
    padding:5%;
    background-color: #d9d9d9;
}
.detailingPage h1{
    text-align:center;
}
.backButton{
    font-size:1.5rem;
    border-radius: 10px;
    padding:2%;
}
.backLink{
    color:#000;
    text-decoration:none;
}
.detailingContainer{
    display:flex;
    flex-direction:column;
    align-items:center;
}

.bronzeDetailing, .silverDetailing, .goldDetailing{
    display:flex;
    flex-direction:column;
    /* align-items:center; */
    margin-top:20px;
    border:2px solid black;
    border-radius:10px;
    padding:3%;
    width:100%;
    max-width:1000px;
    box-shadow: #000 0px 0px 50px;
    height:auto;
    background-color: #ededed;


}
.bronzeDetailing img , .goldDetailing img {
    border:3px solid black;
    margin-bottom:5%;
    border-radius: 10px;
}


.interiorDetailing li, .exteriorDetailing li{
    margin-top:5%;
}


/* styling for booknow Button */
/* not using right now */
.bookButton{
    padding: 5%;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5%;
}
.bookButtontest{
    
    padding: 5%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5%;
}



  
/* not using  */
@media(min-width:8000px){
    
    .bronzeDetailing, .silverDetailing, .goldDetailing{
        display:flex;
        flex-direction:column;
        /* align-items:center; */
        margin-top:20px;
        border:2px solid black;
        border-radius:10px;
        padding:3%;
        width:50vw;
        max-width:1000px;
        background-color: #ededed;
        box-shadow: #000 0px 0px 50px;
        height:auto;
    
    }
    .backButton{
        font-size:1.5rem;
        border-radius: 10px;
        padding:1%;
    }
}

/* testing column styling*/
@media(min-width:800px){
    .detailingContainer{
        display:grid;
        grid-template-columns:1fr 1fr 1fr;
        align-items:center;
        column-gap: 15px;
        align-items:start;
    }
    .bronzeDetailing, .silverDetailing, .goldDetailing{
        display:flex;
        flex-direction:column;
        /* align-items:center; */
        margin-top:20px;
        border:2px solid black;
        border-radius:10px;
        padding:3%;
        width:30vw;
        max-width:500px;
        box-shadow: #000 0px 0px 50px;
        height:auto;
    
    }
    .backButton{
        font-size:1.5rem;
        border-radius: 10px;
        padding:1%;
    }

    .detailingPage{
        margin-top:40px;
    }
}