@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #365966;
    /* 1f3f68 */
    /* 3c5660 */

    /* F0F4F5 */
    /* EDEBFA */
    /* D9EAF2 */
    /* EBF8FF */
}
.Info{
    display:flex;
    margin-top:70px;
    background-image: url("./assets/bmw.jpg");
}
.Services{
    margin-top: 5vh;
    
    
}
.footer{
    background-color:#e4ebed;
}