
.lightsPage{
    margin-top:80px;
    margin-bottom:10px;
    padding:5%;
    background-color: #d9d9d9;
}
.lightsPage h1{
    text-align:center;
}
.backButton{
    font-size:1.5rem;
    border-radius: 10px;
    padding:2%;
}
.backLink{
    color:#000;
    text-decoration:none;
}
.lightsContainer{
    display:flex;
    flex-direction:column;
    align-items:center;
    margin-top:5px;
    border:2px solid black;
    border-radius:10px;
    background-color: #ededed;
    padding:5%;
    width:100%;
    max-width:1000px;
    height:auto;
    box-shadow: #000 0px 0px 25px;
    

    
}

.lightsContainer li{
    margin-top:2%;
}

.bookButton{
    padding: 5%;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5%;
}


@media(min-width:800px){
    .lightsContainer{
        width:35vw;
        max-width:500px;  
        height:auto;
        margin: 0 auto;  
        margin-top:20px;
        padding:3%;      
    }
    .backButton{
        font-size:1.5rem;
        border-radius: 10px;
        padding:1%;
    }
    .lightsPage{
        margin-top:40px;
    }
}
