
.HHlogo{
    border-radius: 50%;
    width:40vw;
    margin-bottom:10%;

}
.footerBox{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap:5%;
    
    background-color: #e4ebed;
    width: 100%;
    
}

.waveContainer{
    border:none;
}

@media(min-width:800px){
    .HHlogo{
        width: 300px;
    }
}